.tl{text-align: left;}
.tr{text-align: right;}
.tc{text-align: center;}

body{overflow-x:hidden}

/*HEADER*/
.navbar-brand{padding: 10px 0;}
.navbar-brand img{height: 50px}
.navbar-brand strong{font-family: 'Book Antiqua','Arial';display: inline-block; vertical-align: top; height: 20px; border-left: 1px solid #CDCDCD;padding-left: 10px;margin-top: 17px;line-height: 20px;font-size:24px; color: #ccc; letter-spacing: 1px;font-weight: normal;}
.navbar-brand strong span{color: #F39798;}

.navbar-default .navbar-nav > li.hot > a,
.navbar-default .navbar-nav > li.hot > a:hover{color: #e84646;}

/*FOOTER*/
.footer{padding-top: 20px;border-top:1px solid #ebebeb;color: #bbb;}
.footer ul{list-style: none;padding: 0;margin: 0 0 20px 0;}
.footer ul li{margin-bottom: 5px;}
.footer a{color: #999;}
.footer li img{max-width: 150px;margin-top: 5px;}
.footer-brand{height: 40px;-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-ms-filter: grayscale(100%);-ms-filter: grayscale(100%);filter: grayscale(100%);}
.footer-brand img{height: 100%;}

/*banner*/
.banner{background-position: center center;background-repeat: no-repeat;box-sizing:border-box;padding:0;position: relative;color:#aaa;}
.banner h1{color: #444;}
@media screen and (max-width: 359px) {
	.banner{height: 320px;}
}
@media (min-width: 360px) and (max-width: 480px){
	.banner{height: 360px}
}
@media (min-width: 481px) and (max-width: 760px){
	.banner{height: 380px;}
}
@media (min-width: 761px) and (max-width: 960px){
	.banner{height: 430px;}
}
@media (min-width: 961px){
	.banner{height: 500px;}
}

/*welcome-banner*/
.welcome-banner{background-color:#fff;background-image: url(../img/welcome.jpg); background-position: top right;}
.welcome-banner p{font-size: 1.5em}
.welcome-banner .ctn{position:absolute;bottom: 20px;}

/*slogen-banner*/
.slogen-banner{background-image:url(../img/banner-1.jpg);color:#fff;background-size: 100%;}
.slogen-banner .ctn{left: 50%;position: absolute;top:50%;margin-top: -25px; height: 50px;}
.slogen-banner h1{color:#fff;text-shadow: 2px 2px 2px #000;padding: 0;margin: 0;font-weight: normal;}
.slogen-banner h1 .type-wrap span{color: yellow;padding-right: .5em;border-right-style: solid; border-right:2px solid yellow;display: inline-block;}
@media screen and (max-width: 479px) {
	.slogen-banner .ctn{width: 320px;margin-left: -160px;}
	.slogen-banner h1 .type-wrap{display: block}
}
@media (min-width: 480px){
	.slogen-banner .ctn{width: 480px;margin-left: -240px;}
}

/*looking-banner*/
.looking-banner{height: auto;padding-bottom: 20px;}
.looking-banner img{width: 200px;opacity: .5;transition: opacity .5s;}
.looking-banner:hover img{opacity: 1;}

/*feature*/
.feature{background-color:#F0212B;color:#fff;padding-top: 30px;padding-bottom: 30px;}
.feature .desc{margin-bottom: 20px;}
.feature h3{color: #333;font-size: 1.4em;margin-top: 12px;}
.feature p{line-height: 22px;}
.feature .list-group{color: #272727;box-shadow: 0 -2px 8px rgba(0,0,0,.1); border-radius: 6px;border-color: transparent;}
.feature .list-group p{color:#8e8e8e;}
.feature .list-group img{width: 104px; border-radius: 50%; float: left; margin-right: 20px;}
.feature .list-group-item{padding: 20px;}
.feature .list-group-item > div{overflow: hidden;}

/* map-ctn */
.map-ctn{background-color:gray;}